.posts-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background2);
  border-radius: 10px;
  padding: 10px 0;
  overflow-y: scroll;
  max-height: 80vh;
  .post-container {
    background: var(--background1);
    border-radius: 5px;
    margin: 0 15px 15px 15px;
    padding: 10px;
    vertical-align: center;
    .post-title {
      font-size: 40px;
      color: var(--stroke);
      font-weight: 600;
      background: var(--background);
      font-size: 22px;
      display: flex;
      justify-content: space-between;
      .title {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .date {
        font-size: 15px;
        color: var(--paragraphy);
      }
    }
    .post-body {
      font-size: 18px;
      color: var(--paragraphy);
    }
    .post-footer {
      font-weight: 600;
      color: var(--stroke);
      text-align: right;
      padding-right: 2px;
      font-size: 18px;
      span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
