.posts-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: scroll;
    max-height: 80vh;
    .post-container {
      border: solid 2.5px var(--background);
      border-radius: 5px;
      margin: 0 15px 15px 15px;
      vertical-align: center;
      .post-title {
        font-size: 40px;
        color: var(--primary);
        font-weight: 600;
        background: var(--background);
        font-size: 22px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        .date {
          font-size: 15px;
          color: var(--primary);
        }
      }
      .post-body {
        font-size: 18px;
      }
      .post-footer {
        font-weight: 600;
        color: var(--primary);
        text-align: right;
        padding-right: 2px;
        font-size: 18px;
        span {
          cursor: pointer;
        }
      }
    }
    .load-more {
      border-radius: 10px;
      border: 0px;
      background: var(--secondary);
      margin: 10px 30%;
      padding: 5px 0;
      color: white;
      box-shadow: 2px 2px 2px lightgrey;
      transition: transform .2s;
      &:hover {
        transform: scale(1.1);
      }
  
    }
  }
  