.sign-in {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  h2 {
      display: inline-block;
      width: 100%;
      font-size: 1.4em;
      text-align: center;
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vw;

    button {
        border-radius: 10px;
        border: 0px;
        background: var(--secondary);
        margin: 10px;
        padding: 10px 30px;
        color: white;
        box-shadow: 2px 2px 2px lightgrey;
        transition: transform .2s;
        &:hover {
          transform: scale(1.1);
        }
    }
  }
}
