.homepage-grid {
  margin: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "righttop main main main"
    "rightbottom main main main";
  .users-grid {
    grid-area: righttop;
    min-width: 0;
    height: fit-content;
  }
  .comments-grid {
    grid-area: rightbottom;
    min-height: 0;
    min-width: 0;
    height: fit-content;
  }
  .posts-grid {
    grid-area: main;
  }
}

@media only screen and (max-width: 980px) {
  .homepage-grid {
    grid-template-areas: "main main main main";
    .comments-grid {
      display: none;
    }
    .users-grid {
      display: none;
    }
  }
}
