.users-container {
  border-radius: 5px;
  margin: 0px 5px 5px 10px;
  padding: 5px 10px;
  background-color: var(--background);
  height: stretch;

  h1 {
    margin: 0;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
  }
  div {
    margin: 5px 0px;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    &:hover {
      cursor: pointer;
    }
    .roboimg {
      margin: 0 5px;
      flex: 0 1 0px;
      background: radial-gradient(
        circle,
        rgba(63, 32, 186, 1) 0%,
        rgba(255, 255, 255, 1) 70%
      );
    }
    div {
      flex: 100 0 0;
      display: flex;
      background: white;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h1 {
        color: var(--secondary);
        font-size: 20px;
        margin: 0;
      }
      span {
        color: var(--primary);
        font-size: 15px;
      }
    }
  }
}

