.profile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90vw;
  grid-gap: 15px;
  margin: auto;
  grid-template-areas:
    "left-top right right right"
    "left-bottom right right right";

  .pic-grid {
    grid-area: left-top;
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      margin: 5px 0;
      text-align: center;
    }
  }

  .comments-grid {
    grid-area: left-bottom;
  }

  .posts-grid {
    grid-area: right;
    h2 {
      text-align: center;
      margin: 0 0 20px 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .profile {
    grid-template-columns: 1fr;
    grid-gap: 50px 0px;
    grid-template-areas:
      "left-top"
      "right"
      "left-bottom";
    width: 100vw;
  }
  .pic-grid {
    margin: 0 120px;
  }

}
