.comments-container {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 5px 10px;
  border-radius: 5px;
  background: var(--background);
  height: stretch;

  h1 {
    margin: 5px;
    font-size: 1.6em;
  }

  .comment-container {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 18px;
    .date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 12px;
    }
  }
}
