:root {
    --primary: #2f353f;
    --secondary: #3f20ba;
    --secondary-hover: #3f20fd;
    --background: rgb(244, 246, 248);
}

@font-face {
    font-family: 'Lato';
    src: url("./fonts/Lato-Regular.ttf");
}

body {
    margin: 0;
    font-family: 'Lato', 'Arial';
    display: inline-block;
};

